@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a new Engineer</h2>

@using (Html.BeginForm())
{
  @Html.Label("Engineer Full Name")
  @Html.TextBoxFor(model => model.EngineerName)

  @* @Html.Label("Engineer Specialty/Field")
  @Html.TextBoxFor(model => model.EngineerField) *@

  <input type="submit" value="Add Engineer" class="btn btn-default" />
}