@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a Engineer for : @Html.DisplayFor(model => model.MachineName)</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Add engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" class="btn btn-default" />
}